/* Contact Form */
.contact_form{
	display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.form_group{
	display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0px;

	*{
		display: block;
	}

	label{
		margin-bottom: 0.5rem;
	}

	input, textarea, select{
		padding: 0.3rem 0.5rem;
	}
}

.form_row{
	display: flex;
	width: 100%;
	column-gap: 1.5rem;
}

.form_grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1rem;

	*{
		display: flex;
		place-items: center;
		padding: 0.6rem;
		background: #eeeeee;
	}
}

form input[type=checkbox]{
	margin: 0 0.5rem 0 0;
}