@use './../utils/variables';
/* Offers-table */
.offers-table{
    width: 100%;
    background: $accent-color;
    color: $dark-font;
    border-spacing: 0;
    border-collapse: collapse;

    thead{
        font-size: 125%;
	    text-align: left;
    }

    tbody td{
        border: solid 3px #333333;
        padding: 1rem;
    }

    thead th {
        border: solid 3px #333333;
        background: $main-color;
        color: $accent-color;
        padding: 1rem;
    }

    li{
        font-weight: 300;
        margin: 0.75rem;
        text-transform: capitalize;
    }
}